:root {
  --color-black-olive: #3b413c;
  --color-white: #fff;
  --color-ash-gray: #9db5b2;
  --color-light-cyan: #daf0ee;
  --color-tiffany-blue: #94d1be;
}

@font-face {
  font-family: Poppins;
  src: url(assets/Poppins/Poppins-Regular.ttf) format('truetype');
}

* {
  box-sizing: border-box;
}

body {
  font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
}

.logo {
  width: 200px;
}

header {
  nav {
    border-bottom: 2px solid var(--color-black-olive);
    ul {
      font-weight: 700;
    }
    .nav-toggle {
      position: absolute;
      cursor: pointer;
      margin: 0.4rem 1.2rem;
      right: 0;
      .close {
        display: none;
      }
    }
    .nav-checkbox {
      display: none;
    }
    #nav-checkbox:checked ~ ul.nav-menu li {
      display: block;
    }
    #nav-checkbox:checked ~ label.nav-toggle .close {
      display: inline;
    }
    #nav-checkbox:checked ~ label.nav-toggle .menu {
      display: none;
    }
    .nav-menu {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      align-items: center;
      margin: 1rem;
      padding: 0;
      :first-child {
        margin-right: auto;
      }
      li {
        display: none;
        a {
          text-decoration: none;
          color: inherit;
          font-size: 1.4rem;
        }
      }
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.2rem;
  background-color: blanchedalmond;
  gap: 1.5rem;
  .logo-and-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    .logo {
      margin-bottom: 0.7rem;
    }
    p {
      margin: 0;
      font-size: 14px;
    }
  }
  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    a {
      color: var(--color-black-olive);
      font-weight: 600;
    }
  }
  .socials {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1rem 0;
    gap: 0.8rem;
  }
}

/* media query for computer screens */
@media screen and (min-width: 768px) {
  header {
    nav {
      .nav-toggle {
        display: none;
      }
      .nav-menu {
        flex-direction: row;
        padding: 0;
        li {
          display: block;
        }
      }
    }
  }

  footer {
    flex-direction: row;
    justify-content: space-around;
    .logo-and-contact {
      display: flex;
      flex-direction: column;
      .logo {
        width: 150px;
      }
    }
    .logo-and-contact {
      width: 33%;
      align-items: flex-start;
    }
    .links {
      width: 33%;
      align-items: unset;
    }
    .socials {
      justify-content: unset;
    }
  }
}

/* media query for tablets */
@media screen and (min-width: 600px) {
}
