:root {
  --color-black-olive: #3b413c;
  --color-white: #fff;
  --color-ash-gray: #9db5b2;
  --color-light-cyan: #daf0ee;
  --color-tiffany-blue: #94d1be;
}

@font-face {
  font-family: Poppins;
  src: url(assets/Poppins/Poppins-Regular.ttf) format('truetype');
}

body {
  font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.logo {
  width: 200px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: blanchedalmond;
  .logo-and-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .socials {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #fff;
  }
}

/* media query for computer screens */
@media screen and (min-width: 768px) {
  footer {
    flex-direction: row;
    justify-content: space-around;
    .logo-and-contact {
      width: 33%;
      display: flex;
      flex-direction: column;
      .logo {
        width: 150px;
      }
    }
    .logo-and-contact {
      align-items: flex-start;
    }
    .links {
      width: 33%;
      align-items: unset;
    }
    .socials {
      width: 33%;
    }
  }
}

/* media query for tablets */
@media screen and (min-width: 600px) {
}
